body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
}
.example-text{
    clear:both; 
}

.btn{
    margin-right: 10px;
    padding:3px;
}

.btn:hover{
    cursor: pointer;
}

.checker-emoji{
    padding-right: 20px;
    font-size: medium;
}

.contrast-grid{
    clear:both;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    margin:auto;
}
.app-grid{
    clear:both;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin:auto;
}
.saved-palette-grid{
    clear:both;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin:auto;
}

.btn-grid{
    clear:both;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
    margin:auto;
    margin: 0 -1px;
}

.display-btn{
    padding:10px 4px;
    text-align: center;
    font-size: 16px;
    color: #3A0D34;
    background-color:#fff;
    font-weight: bold;
    border: .75px solid #181416;
    margin:0;
}

.display-btn:hover{
    cursor: pointer;
    background-color: #3A0D34;
    color:#fff;
    border: .75px solid #181416;
}

h1{
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3A0D34;
  }
  
  li {
    float: left;
    font-size: 18px;
  }
  
  li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  .icon:hover{
      cursor: pointer;
  }

 .link{
    text-decoration: none;
    font-weight: bold;
    color: #9506a0;
 }

 @keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
  }
  